body, html {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: black;
}

#cover-shape {
	position: absolute;
	background: gray;
	z-index: 999;
}

iframe {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

